/* line 7, ../scss/peso.autocomplete.scss */
.autocomplete {
  position: relative;
}

/* line 13, ../scss/peso.autocomplete.scss */
.autocomplete__results {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

/* line 16, ../scss/peso.autocomplete.scss */
.autocomplete__item {
  display: block;
}

/* line 19, ../scss/peso.autocomplete.scss */
.autocomplete__link {
  display: block;
  padding: 8px;
  padding: .5rem;
  border-top: 1px solid #e6e6e6;
  background: white;
}
/* line 30, ../scss/_peso.autocomplete.mixins.scss */
.autocomplete__link:focus, .autocomplete__link:active {
  color: inherit;
  outline: none;
  background: #d9d9d9;
}
